@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>About Me</h1>
    <div class="row">
        <div class="col-md-6">
            <p>Nhan Nguyen</p>
            <p>I like coding</p>
        </div>
        <div class="col-md-6">
            <p>Hello World</p>
        </div>
    </div>
</div>
